
{% for img in imgs %}
<span style="width:300px;height:224px;border:1 solid gray">
<img src="{{ img.1 }}" style="width:224px;height:224px">
</img>
{% ifequal img.0 sk_id %} <font style="color:green"> {% endifequal %}
{% ifnotequal img.0 sk_id %} <font style="color:red"> {% endifnotequal %}
{{ img.0 }} {{ img.2 }}
</font>
</span>
{% endfor %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="img">
    色卡ID: <input type="test" name="sk_id" value="{{sk_id}}">
    <button type="submit">上传</button>
</form>
